@{
    Layout = null;
    string sTitulo = "Bienvenidos al Sistema";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@sTitulo</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css.map"/>


</head>
