@{
    Layout = null;
    string sPie = " Pie de Pagina";
}
<script src="~/js/bootstrap.bundle.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/aspnet.js"></script>

<footer><h1></h1></footer>
