<!DOCTYPE html>

<html>
<body>
    @RenderPage("~/include/cabecera.cshtml")

    <div class="container text-center">

        <button type="button" class="btn btn-primary">
            Avisos <span class="badge text-bg-secondary">3</span>
        </button>

    </div>

    @for (int i = 0; i < 5; i++)
    {
        <br />
    }




    <div class="container text-center">
        <button type="button" class="btn btn-primary position-relative">
            Inbox
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                99+
                <span class="visually-hidden">unread messages</span>
            </span>
        </button>
    </div>

    @for (int i = 0; i < 5; i++)
    {
        <br />
    }

    <div class="container text-center">
        <button type="button" class="btn btn-primary position-relative">
            Profile
            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                <span class="visually-hidden">New alerts</span>
            </span>
        </button>
    </div>


    <div class="container text-center">

    </div>


    <div class="container text-center">

    </div>


    @RenderPage("~/include/piepagina.cshtml")

</body>
</html>

