<!DOCTYPE html>

<html>
<body>
    @RenderPage("~/include/cabecera.cshtml")


    <div class="container">
        <div class="row bg-info">
            <div class="col">
                <ul>
                    <li>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    </li>
                    <li>
                        Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    

    @RenderPage("~/include/piepagina.cshtml")

</body>
</html>
