<!DOCTYPE html>

<html>
<body>
    @RenderPage("~/include/cabecera.cshtml")


    <div class="container">
        <ul>
            <li><a href="~/aspnetgrid.cshtml">Ejemplo de Grid</a></li>
        </ul>



        <ul>
            <li><a href="~/razortipografia.cshtml">Tipo Grafia</a></li>
        </ul>
    </div>


    @RenderPage("~/include/piepagina.cshtml")

</body>
</html>
