<!DOCTYPE html>

<html>
<body>
    @RenderPage("~/include/cabecera.cshtml")
    <h1>Bienvenidos</h1>


    <div>

        <p>Contenido</p>

    </div>

    @RenderPage("~/include/piepagina.cshtml")

</body>
</html>
