<!DOCTYPE html>

<html>
<body>
    @RenderPage("~/include/cabecera.cshtml")

    <div class="container text-center">

    </div>





    <div class="container text-center">

    </div>



    <div class="container text-center">

    </div>


    <div class="container text-center">

    </div>


    <div class="container text-center">

    </div>


    @RenderPage("~/include/piepagina.cshtml")

</body>
</html>

